*{
    margin: 0;
    padding: 0;
}
.grupo{
    display: flex;
    flex-direction: column;
}
.cabecario {
    background-color: #afa554;
}
.secao {
    background-color: #c2aa9b;
}

.rodape {
    background-color: #517980;
}
.navegacao {
    background-color: #3e475a;
    display: inline-block;
    width: 30%;
    padding: 10px
}